.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 15%;
    margin: 1rem 0;
    font-size: 2rem;
}

.addBtn {
    background-color: #5e35b1;
    border: none;
    color: white;
    padding: .7rem 2rem;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: .5s;
    border-radius: .3rem;
}

.addBtn:hover {
    background-color: #ffa726;
}

.errMsg {
    margin: 1rem;
    border: 0.3rem solid #ffa726;
    border-radius: .5rem;
    background-color: #5e35b1;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: white;
    animation: color-change 1.5s linear infinite;
}

@keyframes color-change {
    from {
        background-color: #5e35b1;
    }
    to {
        background-color: #ffa726;
    }

}
